.selected path {
  fill: #ffffff;
}
.mainimage {
  display: none;
  z-index: 3;
}

.relative.hover-effect:hover .mainimage {
  display: block;
}
.relative.hover-effect {
  z-index: 1;
}

.after {
  height: 3px;
  width: 3px;
  background: white;
  border-radius: 10px;
  opacity: 0.75;
}
.search {
  caret-color: red;
}

@media screen and (width < 768px) {
  .ilia {
    display: grid;
    grid-template-columns: repeat(2, 164px);
    grid-template-rows: repeat(10, 170px);
    min-height: 100vh;
    width: 100%;
  }
}
@media screen and (width > 768px) {
  .ilia {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(1, 230px);
    min-height: 100vh;
    width: 100%;
  }
}
@media screen and (width > 1280px) {
  .ilia {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(1, 260px);
    min-height: 100vh;
    width: 100%;
  }
}
